<div class="container page-layout blank mb-20" id="about" fusePerfectScrollbar>
  <div class="row header">
    <div class="col-xs-12 text-center">
      <h1>About me</h1>
    </div>
  </div>
  <div class="mainContainer box">
    <div class="item">
      <img src="assets/img/girl2.jpg" alt="image" />
    </div>
    <div class="item">
      <p>
        Abhishek Vasudev, a professional motorcycle racer, representing Honda Racing India, has been racing for the past
        9 years and has 4 championship tittles, latest being the one in 2019 in 201-300 cc Indian National Road Racing
        Championship.
        Also known as 'MadRab33', Abhishek is famously associated as the Mad Rabbit of the Indian circuit racing scene.
        Highly commemorated for putting up a good fight, MadRab33 is everyone's favorite maverick to watch in action.
      </p>
      <div class= "p-3 mb-14">
        <div class="text-center">
          <button mat-raised-button type="button" class="mb-20 mat-raised-button mat-button-base" color="accent"
            (click)="toggleSidebarOpen('knowMore')">
            Know more
          </button>
        </div>

      </div>

    </div>
  </div>
</div>
<router-outlet></router-outlet>