<div class="container page-layout blank mb-20" id="about" fusePerfectScrollbar>
    <div class="row header">
        <div class="col-xs-12 text-center">
            <h1>Contact me</h1>
        </div>
    </div>
    <div class="container box">
        <div class="image">
            <img src="assets/img/girl1.jpg" alt="image" />
        </div>
        <div class="contact-form">
            <form name="contactForm" class="form" [formGroup]="contactForm" novalidate>
                <h3>Feel Free to Contact</h3>
                <mat-form-field appearance="outline" fxFlexFill>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" minlength="2" maxlength="50">
                    <mat-icon matSuffix class="secondary-text account_circle">account_circle</mat-icon>
                    <mat-error *ngIf="contactForm.get('name').hasError('required')">
                        Name is required
                    </mat-error>
                    <mat-error *ngIf="contactForm.get('name').hasError('minlength')">
                        Minimum 2 characters required!
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlexFill>
                    <mat-label>Email ID</mat-label>
                    <input matInput formControlName="email" minlength="5" maxlength="50">
                    <mat-icon matSuffix class="secondary-text account_circle">email</mat-icon>
                    <mat-error *ngIf="contactForm.get('email').hasError('required')">
                        Email is required.
                    </mat-error>
                    <mat-error *ngIf="contactForm.get('email').hasError('pattern')">
                        Invalid Email
                    </mat-error>
                    <!-- <mat-error *ngIf="contactForm.get('email').hasError('minlength') || contactForm.get('email').hasError('maxlength')">
                        Email should be minimum 5 and maximum 50 characters long.
                    </mat-error>                   -->
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlexFill>
                    <mat-label>Subject</mat-label>
                    <input matInput formControlName="subject" minlength="2" maxlength="50">
                    <mat-icon matSuffix class="secondary-text subject">subject</mat-icon>
                    <mat-error *ngIf="contactForm.get('subject').hasError('required')">
                        Subject is required.
                    </mat-error>
                    <mat-error
                        *ngIf="contactForm.get('subject').hasError('minlength') || contactForm.get('subject').hasError('maxlength')">
                        Subject should be minimum 2 and maximum 50 characters long.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlexFill>
                    <mat-label>Leave a Comment</mat-label>
                    <textarea matInput #message formControlName="query" minlength="5" maxlength="500"></textarea>
                    <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
                    <mat-error *ngIf="contactForm.get('query').hasError('required')">
                        Comment is required.
                    </mat-error>
                    <mat-error
                        *ngIf="contactForm.get('query').hasError('minlength') || contactForm.get('query').hasError('maxlength')">
                        Comment should be minimum 5 and maximum 500 characters long.
                    </mat-error>
                </mat-form-field>
                <div class="p-3 mb-14">
                    <div class="text-center">
                        <button mat-raised-button class="submit-button" color="accent" aria-label="SEND "
                            (click)="submitFrom()">
                            Send
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>