<div id="know-more" class="page-layout simple fullwidth" fxLayout="row">
    <div class="content masterDiv" fxLayout="column">
        <div>
            <h1>Aman Tripathi</h1>
        </div>
        <div>
            <h4 class="mr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, minus. Aperiam est repellendus, placeat perspiciatis laborum laboriosam tempora ab aliquid magnam in iusto quas fugiat non rerum eligendi repellat. In.
                </h4>
        </div>
        <div id="chartdiv" style="width: 100%; height: 300px"></div>
        <div>
            <h1>Racing Career</h1>
        </div>
        <div>
            <h4 class="mr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, minus. Aperiam est repellendus, placeat perspiciatis laborum laboriosam tempora ab aliquid magnam in iusto quas fugiat non rerum eligendi repellat. In.
            </h4>
        </div>
        <div>
            <h1>Educational Background</h1>
        </div>
        <div>
            <h4 class="mr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, minus. Aperiam est repellendus, placeat perspiciatis laborum laboriosam tempora ab aliquid magnam in iusto quas fugiat non rerum eligendi repellat. In.
            </h4>
        </div>
        
    </div>
   
</div>