<div class="container page-layout blank mb-20" id="about" fusePerfectScrollbar>
  <div class="row header">
    <div class="col-xs-12 text-center">
      <h1>Our Sponsoers</h1>
    </div>
  </div>
  <div class="main">
    <div class="logo cursor-pointer"><img class="size-logo" src="assets/icons/sponsore/re.png"></div>
    <div class="logo cursor-pointer"><img class="size-logo" src="assets/icons/sponsore/honda.png"></div>
    <div class="logo cursor-pointer"><img class="size-logo" src="assets/icons/sponsore/Hero.png"></div>
    <div class="logo cursor-pointer"><img class="size-logo" src="assets/icons/sponsore/yma.png"></div>
  </div>
</div>